
@media (max-width:992px){

    .side__bar:not(.active){
        transition: all 03s ;
        transform: scaleY(0);
        transform-origin: top center;
    }

    .side__bar.active{
        transform-origin: top center;
        transform: scaleY(1);

    }

}